.ItemCard {
    padding: 20px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(20, 94, 13);
}

.ItemCard img{
    width: 200px;
    margin: auto;
}

.ItemCard h3{
    margin: auto;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}
.ItemCard p{
    color: aliceblue;
    font-weight: 500;
    margin: auto;

}